.btn {
    background-color: var(--colorPrimaryDarkBtn);
    border: none;
    color: white !important;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 20px;
    border-radius: 25px;
  }
  
  /* Darker background on mouse-over */
  /* .btn:hover {
    background-color: var(--colorPrimaryLight);
  } */
