<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{{/*

doc: Create download, normal buttons.

{{< button normal link >}}
Normal Button
{{< /button >}}

{{< button download link >}}
Download Button
{{< /button >}}

{{< button github link >}}
Github Button
{{< /button >}}

*/}}

<center>
<button class="btn" style="width:auto" onclick="location.href='{{ .Get 1 }}'" type="button">
    <!-- {{ if eq (.Get 0) "download" }} {{ end }} -->
    <i class="fa fa-{{ .Get 0 }}"></i>
    {{ .Inner | markdownify }}
</button>
</center>